div.dnd-hover-move {
	position: absolute;
	background: white url(move.gif) no-repeat 0px center;
	padding-left: 16px;
	border: 1px solid #00ff00;
	z-index: 100;
}
div.dnd-hover-copy {
	position: absolute;
	background: white url(copy.gif) no-repeat 0px center;
	padding-left: 16px;
	border: 1px solid #0000ff;
	z-index: 100;
}
div.dnd-hover-link {
	position: absolute;
	background: white url(link.gif) no-repeat 0px center;
	padding-left: 16px;
	border: 1px solid #000000;
	z-index: 100;
}
div.dnd-hover-none {
	position: absolute;
	background: white url(none.gif) no-repeat 0px center;
	padding-left: 16px;
	border: 1px solid #ff0000;
	z-index: 100;
}
div.dnd-hover-cover {
	position: absolute;
	background: url(cover.gif) repeat;
	cursor: move;
}
.dnd-hover-clone {
	margin: 0px !important;
	display: block;
}
.dnd-hover-table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse:
}
.dnd-drag  {
	background-color: #cccccc !important;
}
.dnd-drop  {
}
.dnd-drop-over  {
	background-color: #cccccc !important;
}
.dnd-drop-top {
	position: absolute;
	background: #aaaaaa;
	height: 2px;
	overflow: hidden;
}
.dnd-drop-bottom {
	position: absolute;
	background: #aaaaaa;
	height: 2px;
	overflow: hidden;
}
.dnd-drop-left {
	position: absolute;
	background: #aaaaaa;
	width: 2px;
	overflow: hidden;
}
.dnd-drop-right {
	position: absolute;
	background: #aaaaaa;
	width: 2px;
	overflow: hidden;
}
