.dnd-hover {
	position: absolute;
	padding-left: 16px;
	background: white;
}
.dnd-hover-clone {
	margin: 0px !important;
	display: block;
}
.dnd-hover-table {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse:
}
.dnd-hover-move {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(cover.gif) repeat;
}
.dnd-hover-copy {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(cover.gif) repeat;
}
.dnd-hover-link {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(cover.gif) repeat;
}
.dnd-hover-none {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background: url(cover.gif) repeat;
}
.dnd-drag  {
	background-color: #cccccc !important;
}
.dnd-drop  {
}
.dnd-drop-over  {
	background-color: #cccccc;
}
.dnd-drop-before  {
	position: absolute;
	background: #aaaaaa;
	height: 2px;
	overflow: hidden;
}
.dnd-drop-after  {
	position: absolute;
	background: #aaaaaa;
	height: 2px;
	overflow: hidden;
}
